{"http_interactions":[{"request":{"method":"get","uri":"https://api.twitter.com/1.1/search/tweets.json?count=100&q=%22mperham/sidekiq%22","body":{"encoding":"UTF-8","base64_string":"eyJzdGF0dXNlcyI6IFt7fV19"},"headers":{"Authorization":["OAuth oauth_consumer_key=\"<<TWITTER_CONSUMER_KEY>>\", oauth_nonce=\"d75957ea87d07191acbdff0bb8a77f80\", oauth_signature=\"YnfYDkatrqIX0wrzqupAJB0r%2FVI%3D\", oauth_signature_method=\"HMAC-SHA1\", oauth_timestamp=\"1520967926\", oauth_token=\"<<TWITTER_ACCESS_TOKEN>>\", oauth_version=\"1.0\""]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Tue, 13 Mar 2018 19:05:24 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write"], "X-Connection-Hash":["0ffcdda4b65c57f6fd7939d7b2e6f26b"], "X-Rate-Limit-Limit":["180"], "X-Rate-Limit-Remaining":["179"], "X-Rate-Limit-Reset":["1520968824"], "X-Response-Time":["196"], "X-Transaction":["0023d74400ed7fe8"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"UTF-8","base64_string":"eyJzdGF0dXNlcyI6IFt7fV19"},"http_version":null},"recorded_at":"Tue, 13 Mar 2018 19:05:27 GMT"}],"recorded_with":"VCR 4.0.0"}
