{"http_interactions":[{"request":{"method":"get","uri":"https://api.twitter.com/1.1/search/tweets.json?count=100&q=%22mperham/sidekiq%22","body":{"encoding":"UTF-8","base64_string":""},"headers":{"Authorization":["OAuth oauth_consumer_key=\"<<TWITTER_CONSUMER_KEY>>\", oauth_nonce=\"1ff376fdcb909cbf30bfda5bf84cd190\", oauth_signature=\"nPtajL8n2OfESwtb57Cz75NGJ8c%3D\", oauth_signature_method=\"HMAC-SHA1\", oauth_timestamp=\"1520969478\", oauth_token=\"<<TWITTER_ACCESS_TOKEN>>\", oauth_version=\"1.0\""]}},"response":{"status":{"code":429,"message":"Too Many Requests"},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Connection-Hash":["d2a2b49028bc4fee466845a59c49c473"], "X-Rate-Limit-Limit":["180"], "X-Rate-Limit-Remaining":["0"], "X-Rate-Limit-Reset":["1520969741"], "X-Response-Time":["108"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvcnMiOlt7Im1lc3NhZ2UiOiJSYXRlIGxpbWl0IGV4Y2VlZGVkIiwi\nY29kZSI6ODh9XX0=\n"},"http_version":null},"recorded_at":"Tue, 13 Mar 2018 19:31:19 GMT"}],"recorded_with":"VCR 4.0.0"}